*{
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #5D5D5D;
}
body {
    margin: 0;
    padding: 0;
}
h1,h2,h3,h4 {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  margin: 0;
}
h1 {
  font-size: 2.827em;
  color: #ebebeb;
}
h2 {
  color: #ff5a5f;
  font-size: 1.99em;
}
h3 {
  font-size: 1.414em;
}
img{
  width: 100%
}
button {
    background: white;
    color: #A2A2A2;
    font-family: Sans-serif;
    font-weight: 700;
    font-size: 20px;
    height: 50px;
    padding: 0;
    border-radius: 4px;
    width: 49%;
    text-align: center;
    border: 2px solid #FF757A;
    transition: all 0.3s ease 0s;
    cursor: pointer;
}
button:hover, a:visited, a:link{
  color: white;
  background: #FF757A;
}
.portfolio-container {
  margin: 0 auto;
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
}
.intro-section{
  background-color: #dfdfdf;
  border-bottom: 5px solid #5D5D5D;
  padding-top: 30px;
  padding-bottom: 50px;
  padding-left: 10%;
}
article.intro h2{
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  color: white;
  font-size: 50px;
  padding: 0
}
.intro h4{
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  font-size: 22px;
  color: #ff5a5f;
}
.intro h2, .highlight{
  font-size:55px;
  font-family: 'Oswald', sans-serif;
   color: #ff5a5f;
}
.about-me-section{
  background: #ff5a5f url("../images/profile_art2.jpg") no-repeat;
  background-size: cover;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 50px;
  padding-left: 53%;
  padding-right: 15%;
}
.about-me-section p{
  color: white;
}

.emphasis {
  font-weight: 700;
  font-size: 1.1em;
  color: #A2A2A2;
}
.projects-section-title{
  padding-left:  10%;
  padding-top: 20px;
  padding-bottom: 40px;
}
.projects-section-title h1{
  color: #A2A2A2;
}
.project-container {
  display: flex;
  margin-bottom: 100px;
  padding: 0 10%;
  padding-top: 20px;
}
.image-container {
  width: 100%;
} 
.image-container img {
  border: 2px solid lightgray;
  border-radius: 4px;
}
.info-container {
  margin-top: 0;
  margin-left: 10%;
  width: 100%;
  color: #A2A2A2;
  line-height: 1.5em;
}
.break{
  display: none;
}
.mobile{
  display: none;
}
footer{
  margin-top: 200px auto 0 auto;
  padding-top: 30px;
  padding-bottom: 60px;
  background-color: #FF757A;
  color: white;
}
footer p, footer h1{
  text-align: center;
}
.contact-container, .contact-container a{
  font-size: 50px;
  background-color: #FF757A;
}
.contact-container a:visited, .contact-container a:link{
  background: none;
}
.fa{
  color: white;
}
.fa:hover {
  color: #5D5D5D;
}

@media only screen and (min-width: 769px) and (max-width: 1000px) {
  button{
    width: 100%;
    margin-bottom: 8px;
  }
}
@media only screen and (min-width: 0px) and (max-width: 768px) {
  .break{
    display: block;  
  }
  .project-title{
   display: none;
  }
  .mobile{
  display: inline;
  }
  .about-me-section{
    padding: 20px 10% 50px 10%;
  }
  .project-container{
    padding: 0 10%;
    display: block;
  }
  .info-container{
    padding: 0;
    margin: 0;
  }
}
