*{
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}
body {
    margin: 0;
    padding: 0;
}
h1,h2,h3,h4 {
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  margin: 0;
}
h1 {
  font-size: 2.827em;
  color: #ebebeb;
}
h2 {
  color: #ff5a5f;
  font-size: 1.99em;
}
h3 {
  font-size: 1.414em;
}
button {
    background: white;
    color: gray;
    font-family: Sans-serif;
    font-size: 20px;
    height: 50px;
    padding: 0;
    border-radius: 4px;
    width: 49%;
    line-height: 60px;
    text-align: center;
    border: 2px solid #ff5a5f;
    transition: all 0.3s ease 0s;
}
button:hover, a:visited, a:link{
  color: white;
  background: #ff5a5f;
}
.portfolio-container {
  margin: 0 auto;
}
.intro-section{
  background-color: #dfdfdf;
  border-bottom: 5px solid #5D5D5D;
  padding-top: 30px;
  padding-bottom: 50px;
  padding-left: 10%;
}
article.intro h2{
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  color: white;
  font-size: 50px;
  padding: 0
}
.intro h4{
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  font-size: 22px;
  color: #ff5a5f;
}
.intro h2, .highlight{
  font-size:55px;
  font-family: 'Oswald', sans-serif;
   color: #ff5a5f;
}
.about-me-section{
  background: #ff5a5f url("../images/profile_art2.jpg") no-repeat;
  background-size: cover;
  color: white;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 50px;
}
.about-me{
  width: 90%;
  padding-left: 58% ;
}
.emphasis {
  font-weight: bold;
  font-size: 1.1em;
  color: #A2A2A2;
}
.projects-section-title{
  padding-left:  10%;
}
.projects-section-title h1{
  color: #dfdfdf;
}
.project-container {
  display: flex;
  margin-bottom: 100px;
  padding: 0 10%;
  padding-top: 20px;
}
 .image-container img {
  border: 2px solid lightgray;
  border-radius: 4px;
}
.info-container {
  margin-top: 0;
  margin-left: 10%;
  width: 250px;
  color: #5D5D5D;
  line-height: 1.5em;
}
.break{
  display: none;
}
.mobile{
  display: none;
}
footer{
  margin-top: 200px;
  padding-top: 30px;
  padding-bottom: 60px;
  background-color: #FF757A;
  color: white;
}
footer p, footer h1{
  text-align: center;
}
.contact-container, .contact-container a{
  font-size: 50px;
  background-color: #FF757A;
}
.contact-container a:visited, .contact-container a:link{
  background: none;
}
.fa:hover {
  color: #A2A2A2;
}

@media only screen and (min-width: 769px) and (max-width: 1000px) {
  button{
    width: 100%;
  }
}
@media only screen and (min-width: 0px) and (max-width: 768px) {
  .portfolio-container{
    width: 100%;
  }

  .intro-section, .about-me-section, .projects-section, .image-container img{
    width: 100%;
  }

  .break{
    display: block;
  }

  h4.tagline{
    font-size: 30px;
  }

  .about-me-section{
    background-size: cover;
    background-color: #ff5a5f;
    background-image: url("../images/profile_art_mobile2.jpg");
    background-repeat: no-repeat;
  }

  .about-me, .project-container, .intro, nav{
    width: 80%;
    margin: 0 auto;
    padding: 0;
    display: block;
  }
  
  .project-container{
    margin-bottom: 60px;
  }
  .projects-section-title h1{
    color: #dfdfdf;
  }

  .project-title{
    display: none;
  }
  .project-title.mobile p{
    margin-top: 0;
  }

  .mobile{
    display: inline;
  }

  .info-container, .projects-section-container, .footer-container{
    width: 100%;
    margin: 0;
  }

  .button-container{
    margin-top: 30px;
  }

  .contact-container{
    margin: 0;
    padding: 0;
  }

  footer{
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
}
